* { 
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #0b1034;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
}
input[type="number"],
button {
  font-family: 'Montserrat', sans-serif;
}

.app-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 32px;

  color: #ffffff;
}

.page-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* width: 800px; */
  /* justify-content: center; */

}

.content {
  background: #151a3c;
  padding: 2rem;
  border-radius: 10px;
  color: #ffffff;

  width: 400px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  position: relative;
  margin: 0 auto;

}

.result {
  background: #ffffff;
  color: #0b1034;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  padding: 2rem;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  animation: slide .3s linear forwards;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@keyframes slide {
  from {
    right: 0;
  }

  to {
    right: -400px;
  }
}

.move-content {
  animation: moveContainer .3s linear forwards;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

@keyframes moveContainer {
  to {
    transform: translateX(-200px);
  }
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.field p {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.field span {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.blue-box {
  width: 100%;
  background: #272b4d;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.button {
  background: #ee5167;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 5px;

  width: 100%;
  border-radius: 5px;
  border: none;
}

.m-right {
  margin-right: 5px;
}

.m-left + .m-left {
  margin-left: 5px;
}

label svg {
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
}


/* GENDER - INPUT RADIO */
.gender-box {
  width: 100%;
  margin-bottom: 5px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}


.gender-checkbox:checked + label,
.gender-checkbox:not(:checked) + label{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;

  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}

.gender-checkbox:not(:checked) + label {
  background: #0b1034;
  color: #b9b9b4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.gender-checkbox:checked + label {
  background-color: #272b4d;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gender-checkbox:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* HEIGHT - INPUT RANGE */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ee5167;
  cursor: pointer;
}

/* INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background-color: #272b4d;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;

  border: none;

  width: 100%;
  margin-bottom: 5px;
}

.range-button button {
  color: #ffffff;
  background-color: #151a3c;
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
  

}

.range-button button svg {
  display: flex;
  justify-content: center;
  align-items: center;
}


